* {
    width: 900px;
    margin: 20px;
    padding: 20px;
}
#id1{
    font-size: larger;
    color: blueviolet;
}
.class1{
    color: aqua;
    font-size: smaller;
}
li{
    color: blue;
}
span{
    color: brown;
}

